.nav {
    position: fixed;
    left: -1000px;
    top: 0;
    bottom: 0;
    
    transition: all .5s ease;
    background: rgb(66, 107, 73);
    width: calc(10% + 100px);
    padding: 190px 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: antiquewhite;
    z-index: 1;

}
.nav.active{
    left: 0;
}

.user__item-image {
    position: fixed;
    left: 5%;
    top: 70px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(103,152,116,.7);
    box-shadow:         0px 0px 30px 10px rgba(103,152,116,1);
    z-index: 1;
}

.user__item-image img {
    width: 100px;
    height: 100px;
}

.user__item span {
    margin:  10px;
}

.user__item{
    display: flex;
    flex-wrap: wrap;
}

.nav_btn{
    position: relative;
    margin: 10px;
    border: 2px solid antiquewhite;
    cursor: pointer;
    width: calc(10% + 80px);
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;

}
.today{
    margin: auto 0 20px;
    padding: 0 11px;
    text-align: center;
}
#butInstall{
    border-radius: 40px;
    width: calc(10% + 80px);
    height: 45px;
    margin: 0;
    padding: 0;
    border: 2px solid antiquewhite;
    background: transparent;
    color: antiquewhite;

}
/* event__item */

.event__item .nav_btn_wrap, .divInstall{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;    
}


.add__event {

    position: absolute;
    top: 0;
    left: 100px;
    width: 300px;
    height: 300px;
    border: 1px solid red;
    border-radius: 15px;
}

.add__event-close{
    
    width: 40px;
    height: 40px;
    border: 1px solid red;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    transform: translate(295px, -55px)
}

.link{
    color: black;
    text-decoration: none;
}

