
.slick {
    min-width: 120px;
    width: 100%;
    padding: 100px 100px 0;
}



.content-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-item-image img {
    width: 100px;
    height: 100px;
}
.content-item-initials {
    overflow-wrap: break-word;
}

.content-item-name ,.content-item-surname {
    margin-right: 5px;
    max-width: 100px;
}

.content-item-label{
    overflow-wrap: break-word;
}

button.slick-arrow.slick-prev::before,
button.slick-arrow.slick-next::before{
    color: rgba(103,152,116,1);
}