.exit__button {
    color: antiquewhite;
    margin: 12px 20px;
    width: 170px;
    height: 45px;
    background: radial-gradient(circle, rgba(103,152,116,1) 29%, rgba(50,98,64,1) 69%);
    border: none;
    outline:none;
    padding: 10px 30px;
    border-radius: 15px;
    cursor: pointer;
}