.header{
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header-titlle {
    font-size: 24px;
    color: red;
}

.form__box{
    display:flex;

}

.today {
    position: fixed;
    top: 100px;
    left: 50px;
    color: red;

}

