.entrance{
  display:flex;
  
} 

.register_button, .login_button {
  border-radius: 20px;
  background: radial-gradient(circle, rgba(103,152,116,1) 29%, rgba(50,98,64,1) 69%);
  box-shadow: -1px -1px 29px 0px rgba(50, 50, 50, 1);
  border: hidden;
  color: antiquewhite;
  cursor: pointer;
  outline: none;
  margin: 12px 20px;
  width: 170px;
  height: 45px;
}


