.entrance{
  /* display:flex; */
  position: relative;
  /* margin-left: 520px; */
}

.register_button, .login_button {
  border-radius: 20px;
  background: radial-gradient(circle, rgba(103,152,116,1) 29%, rgba(50,98,64,1) 69%);
  border: hidden;
  color: white;
}

.register_button {
  margin-top: 20px;
  width: 170px;
  height: 45px;
}

.login_button{
  width: 140px;
  height: 40px; 
  margin-left: 15px;
  margin-top: 10px;
}

